<div class="row-fluid">
    <div class="span6">First</div>
    <div class="span6">
        <form>
            <fieldset>
                <label>Name</label>
                <input class="name" type="text">
                <button class="btn moveToSecond">Continue</button>
            </fieldset>
        </form>
    </div>
</div>