<div>Second</div>
<div>
    <div>Name: {{comment.name}}</div>
</div>
<div>
    <form>
        <fieldset>
            <label>Comment</label>
            <input class="comment" type="text">
            <button class="btn moveToThird">Continue</button>
        </fieldset>
    </form>
</div>