<div class="row-fluid">
    <div class="span6">Third</div>
    <div class="span3">
        <form>
            <fieldset>
                <button class="btn saveComment">Save</button>
            </fieldset>
        </form>
    </div>
    <div class="span3">
        <div>Name: {{comment.userName}}</div>
        <div>Comment: {{comment.comment}}</div>
    </div>
</div>