<h1>AEM Chaplin Application</h1>

<p>This Chaplin example provides an app scaffold using RequireJS as module loader. Handlebars is used as templating engine. The templates are loaded on demand using the RequireJS text plugin.  Bootstrap is used for styling and responsive</p>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">AEM Chaplin</a>
        <ul class="nav">
            <li><a href="first">Example Context</a></li>
            <li><a href="#first">Example Responsive</a></li>
            <li><a href="#">Example Data</a></li>
        </ul>
    </div>
 </div>
<div id="main-container"></div>

